@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  font-family: var(--font-league);
}

h1 {
  font-family: var(--font-archivo);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-inter {
    font-family: var(--font-inter);
  }
}

@layer components {
  .text-Consolidado {
    @apply text-green;
  }

  .text-Pendente {
    @apply text-orange;
  }

  .text-Cancelado {
    @apply text-red;
  }

  .bg-Consolidado {
    @apply bg-darkGreen;
  }

  .bg-Pendente {
    @apply bg-darkOrange;
  }

  .bg-Cancelado {
    @apply bg-darkRed;
  }

  .text-Visualização {
    @apply text-lightGray;
  }

  .bg-Visualização {
    @apply bg-[#222224];
  }

  .text-Edição {
    @apply text-orange;
  }

  .bg-Edição {
    @apply bg-darkOrange;
  }

  .btn {
    @apply py-2 px-5 text-white rounded-full hover:bg-transparent hover:border-collapse border-solid border-4 border-transparent focus:outline-none;
  }

  .btn-primary {
    @apply btn;
    @apply bg-primary hover:border-primary;
  }

  .btn-secondary {
    @apply btn;
    @apply bg-secondary hover:border-secondary;
  }

  .btn-gray {
    @apply btn;
    @apply bg-gray hover:border-gray;
  }

  .btn-lightGray {
    @apply btn;
    @apply bg-lightGray hover:border-lightGray;
  }

  .btn-red {
    @apply btn;
    @apply bg-red hover:border-red;
  }

  .btn-green {
    @apply btn;
    @apply bg-green hover:border-green;
  }
}
